html{
    --fc-unthemed_tdfc-today-background: #F5F5F5 !important;
    --fc_th-border-width: 0px !important;
    --fc_td-border-width: 0px !important;
}

#calendar-container, #calendar {
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}