.main-container {
    margin: 10px auto;
    max-width: 90%;
    height: calc(100vh - 50px);
}
.first {
    height: 0px !important;
    width: 0px !important;
}

.common_layout {
    width: 100%;
    display: grid;
    min-height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto 56px;
    grid-template-areas:
            "nav"
            "main-content"
            "footer";
}
.common_layout_nav {
    grid-area: nav;
}
.common_layout_main {
    grid-area: main-content;
}

.common_layout_nav {
    grid-area: nav;
}

.common_layout_main {
    grid-area: main-content;
}

.common_layout_footer {
    grid-area: footer;
}