/*
     Author: ZOETARDT Craig
     email: craig.zoetardt@student.ehb.be
     */
#logindiv{
    margin: auto ;
}
#logindiv > * {
    text-align: center;
}
#logindiv {
    display: flex;
    flex-direction: column;
}
#logindiv{
    padding: 50px;
    padding-top: 0px;
justify-content: center;
    flex-direction: column;
}
