/** {
    padding:0;
    box-sizing: border-box;
}

img {
    width:100%;
}

.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

h1 {
    padding: 2%
}

div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto auto;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar {
    padding: 2% 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34ed94;
}

.navbar img {
    width: 15%;
    height: 50%;
}
*/
