* {
    padding:0;
    box-sizing: border-box;
}


.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto auto;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar {
    padding: 2% 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

