/*gemaakt door jason devedeleer*/

#button321{
    height: 150px;
    width: 80%;
    padding: 0;
    margin: 1px;
    background-color: lightgray;
}

#v1 {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 25px 0 0 30px;
}

#v2 {
    padding: 0;
    margin: 80px 25px 0 20px;
    background-color: gray;
}

#v2 > H3{
    margin: 25px 25px 25px 25px;
    font-size: 25px;
}

#v1 > H3{
    margin: 25px 0 0 25px;
}

.main-content{
    display: inline-grid;
    grid-template-columns: 25% 75%;
    margin: 0;
    width: 100%;
    align-content: center;
}